deep_learning/enhancing_dl_models/0-main.py
deep_learning/enhancing_dl_models/0-checker1.py
deep_learning/enhancing_dl_models/0-checker2.py
deep_learning/enhancing_dl_models/1-checker3.py
deep_learning/enhancing_dl_models/1-checker2.py
deep_learning/enhancing_dl_models/1-checker1.py
deep_learning/enhancing_dl_models/1-main.py
task1.png
task2.png
deep_learning/enhancing_dl_models/2-main.py
deep_learning/enhancing_dl_models/2-checker1.py
deep_learning/enhancing_dl_models/2-checker2.py
deep_learning/enhancing_dl_models/2-checker3.py
task3.png
deep_learning/enhancing_dl_models/3-checker1.py
deep_learning/enhancing_dl_models/3-checker2.py
deep_learning/enhancing_dl_models/3-main.py
deep_learning/enhancing_dl_models/4-main.py
task4.png
deep_learning/enhancing_dl_models/4-checker2.py
deep_learning/enhancing_dl_models/4-checker1.py
deep_learning/enhancing_dl_models/5-main.py
task5.png
deep_learning/enhancing_dl_models/5-checker1.py
deep_learning/enhancing_dl_models/5-checker2.py
task6.png
deep_learning/enhancing_dl_models/6-main.py
deep_learning/enhancing_dl_models/6-checker1.py
deep_learning/enhancing_dl_models/6-checker2.py
deep_learning/enhancing_dl_models/7-checker1.py
deep_learning/enhancing_dl_models/7-checker2.py
deep_learning/enhancing_dl_models/7-main.py
task7.png
deep_learning/enhancing_dl_models/8-checker1.py
deep_learning/enhancing_dl_models/8-checker2.py
deep_learning/enhancing_dl_models/8-main.py
deep_learning/enhancing_dl_models/9-main.py
deep_learning/enhancing_dl_models/10-main.py
deep_learning/enhancing_dl_models/9-checker3.py
deep_learning/enhancing_dl_models/9-checker1.py
deep_learning/enhancing_dl_models/9-checker2.py
deep_learning/dl_with_keras/0-main.py
deep_learning/dl_with_keras/0-checker2.py
deep_learning/dl_with_keras/0-checker1.py
deep_learning/dl_with_keras/1-main.py
deep_learning/dl_with_keras/1-checker1.py
deep_learning/dl_with_keras/1-checker2.py
deep_learning/dl_with_keras/2-checker.py
deep_learning/dl_with_keras/2-main.py
deep_learning/dl_with_keras/3-checker.py
deep_learning/dl_with_keras/3-main.py
deep_learning/dl_with_keras/4-main.py
deep_learning/dl_with_keras/4-checker.py
deep_learning/dl_with_keras/5-checker1.py
deep_learning/dl_with_keras/5-main.py
deep_learning/dl_with_keras/5-checker2.py
mnist_model.keras
deep_learning/dl_with_keras/6-checker2.py
deep_learning/dl_with_keras/6-checker1.py
model_trained.weights.h5
deep_learning/dl_with_keras/__pycache__/6-save_load_weights.cpython-39.pyc
deep_learning/dl_with_keras/6-main.py
deep_learning/dl_with_keras/7-checker.py
deep_learning/dl_with_keras/7-main.py
deep_learning/dl_with_keras/8-checker2.py
deep_learning/dl_with_keras/8-checker3.py
deep_learning/dl_with_keras/8-checler1.py
deep_learning/dl_with_keras/8-main.py
deep_learning/dl_with_keras/__pycache__/7-predict.cpython-39.pyc
deep_learning/dl_with_keras/__pycache__/8-deep_nn_model.cpython-39.pyc
deep_learning/dl_with_keras/8-checker1.py
deep_learning/dl_with_keras/9-main.py
deep_learning/dl_with_keras/__pycache__/9-tensorboard.cpython-39.pyc
logs/tensorboard_demo/20250617-001358/train/events.out.tfevents.1750115638.DESKTOP-Q7VMR10.5720.0.v2
logs/tensorboard_demo/20250617-002028/train/events.out.tfevents.1750116028.DESKTOP-Q7VMR10.9800.0.v2
deep_learning/dl_with_keras/9-checker.py
logs/tensorboard_demo/20250617-004204/train/events.out.tfevents.1750117324.DESKTOP-Q7VMR10.19708.0.v2
logs/tensorboard_demo/20250617-005246/train/events.out.tfevents.1750117966.DESKTOP-Q7VMR10.11440.0.v2
logs/tensorboard_demo/20250617-012641/train/events.out.tfevents.1750120002.DESKTOP-Q7VMR10.18032.0.v2
logs/tensorboard_demo/20250617-012723/train/events.out.tfevents.1750120043.DESKTOP-Q7VMR10.24748.0.v2
logs/tensorboard_demo/20250617-014326/train/events.out.tfevents.1750121006.DESKTOP-Q7VMR10.22152.0.v2
logs/tensorboard_demo/20250617-012315/train/events.out.tfevents.1750119795.DESKTOP-Q7VMR10.12516.0.v2
logs/tensorboard_demo/20250617-011258/train/events.out.tfevents.1750119179.DESKTOP-Q7VMR10.16008.0.v2
machine_learning/tree_models/0-main.py
machine_learning/tree_models/0-checker2.py
machine_learning/tree_models/0-checker1.py
trained_decision_tree.png
machine_learning/tree_models/1-checker0.py
machine_learning/tree_models/1-checker1.py
machine_learning/tree_models/1-main.py
machine_learning/tree_models/2-checker0.py
machine_learning/tree_models/0-checker0.py
machine_learning/tree_models/2-main.py
machine_learning/tree_models/3-checker0.py
machine_learning/tree_models/3-main.py
machine_learning/tree_models/4-checker0.py
machine_learning/tree_models/4-checker1.py
machine_learning/tree_models/4-main.py
machine_learning/tree_models/5-checker0.py
machine_learning/tree_models/5-checker1.py
machine_learning/tree_models/5-main.py
machine_learning/tree_models/6-checker1.py
machine_learning/tree_models/6-checker0.py
machine_learning/tree_models/6-main.py
machine_learning/tree_models/7-checker2.py
machine_learning/tree_models/7-checker1.py
machine_learning/tree_models/7-checker0.py
machine_learning/tree_models/7-main.py
machine_learning/tree_models/8-checker0.py
machine_learning/tree_models/8-checker1.py
machine_learning/tree_models/8-main.py
machine_learning/tree_models/9-checker0.py
machine_learning/tree_models/9-checker1.py
machine_learning/tree_models/9-main.py
machine_learning/tree_models/10-checker1.py
machine_learning/tree_models/10-checker0.py
machine_learning/tree_models/10-main.py
machine_learning/tree_models/test.py
machine_learning/tree_models/11-checker1.py
machine_learning/tree_models/11-checker0.py
machine_learning/tree_models/11-main.py
machine_learning/linear_models/0-checker2.py
machine_learning/linear_models/0-checker0.py
machine_learning/linear_models/0-checker1.py
machine_learning/linear_models/0-main.py
machine_learning/linear_models/explore_features_target_correlation.py
machine_learning/linear_models/visualize_data.py
machine_learning/linear_models/1-main.py
machine_learning/linear_models/1-checker0.py
machine_learning/linear_models/1-checker1.py
machine_learning/linear_models/1-checker2.py
machine_learning/linear_models/1-checker3.py
machine_learning/linear_models/2-checker0.py
machine_learning/linear_models/2-checker1.py
machine_learning/linear_models/2-checker2.py
machine_learning/linear_models/2-main.py
machine_learning/linear_models/3-main.py
machine_learning/linear_models/3-checker1.py
machine_learning/linear_models/3-checker0.py
machine_learning/linear_models/3-checker2.py
machine_learning/linear_models/4-main_1.py
machine_learning/linear_models/2-checker3.py
machine_learning/linear_models/3-checker3.py
machine_learning/linear_models/4-main_2.py
machine_learning/linear_models/4-checker0.py
.gitignore
machine_learning/linear_models/4-checker1.py
5_main_1.png
5_main_2.png
machine_learning/linear_models/5-checker0.py
machine_learning/linear_models/5-checker1.py
machine_learning/linear_models/5-checker2.py
machine_learning/linear_models/5-main_1.py
machine_learning/linear_models/5-main_2.py
machine_learning/linear_models/6-main.py
6_main.png
machine_learning/linear_models/6-checker2.py
machine_learning/linear_models/6-checker1.py
machine_learning/linear_models/6-checker0.py
precleaned-Telco-Customer-Churn.csv
Telco-Customer-Churn.csv
reference.png
student.png
data_analysis/data_preparation_visualization/1-checker0.py
data_analysis/data_preparation_visualization/1-main.py
data_analysis/data_preparation_visualization/1-test.py
data_analysis/data_preparation_visualization/2-main.py
data_analysis/data_preparation_visualization/2-test.py
data_analysis/data_preparation_visualization/2-checker0.py
data_analysis/data_preparation_visualization/3-checker2.py
data_analysis/data_preparation_visualization/3-checker0.py
data_analysis/data_preparation_visualization/3-checker1.py
data_analysis/data_preparation_visualization/3-main.py
data_analysis/data_preparation_visualization/4-checker0.py
data_analysis/data_preparation_visualization/4-main.py
data_analysis/data_preparation_visualization/5-checker0.py
data_analysis/data_preparation_visualization/5-main.py
data_analysis/data_preparation_visualization/6-main.py
data_analysis/data_preparation_visualization/6-checker0.py
data_analysis/data_preparation_visualization/7-checker0.py
Task_7.png
data_analysis/data_preparation_visualization/7-checker1.py
data_analysis/data_preparation_visualization/7-main.py
data_analysis/data_preparation_visualization/1-main_0.py
data_analysis/data_preparation_visualization/1-main_1.py
data_analysis/data_preparation_visualization/1-checker1.py
data_analysis/data_preparation_visualization/2-checker1.py
Task_8.png
data_analysis/data_preparation_visualization/8-checker0.py
data_analysis/data_preparation_visualization/8-checker1.py
data_analysis/data_preparation_visualization/8-main.py
data_analysis/data_preparation_visualization/9-checker0.py
data_analysis/data_preparation_visualization/9-main.py
data_analysis/data_preparation_visualization/10-main.py
data_analysis/data_preparation_visualization/11-main.py
data_analysis/data_preparation_visualization/10-checker0.py
data_analysis/data_preparation_visualization/11-checker0.py
data_analysis/data_preparation_visualization/12-checker0.py
data_analysis/data_preparation_visualization/12-main.py
data_analysis/data_preparation_visualization/13-checker0.py
data_analysis/data_preparation_visualization/13-main.py
